.table-container {
    padding: 10px;
}

.table-header {
    padding: 15px 0 15px 0;
    font-weight: 700;
    font-size: 13px;
    color: #666;
    min-width: 200px;
    border-bottom: 3px solid;
    border-color: var(--table-border-color);
    background: var(--table-background-color);
    opacity: 0;
    animation: headerAppear 0.2s linear forwards;
}

.empty-table-header {
    height: 46px;
    border-bottom: 3px solid;
    border-color: var(--table-border-color);
    opacity: 0;
    animation: headerAppear 0.2s linear forwards;
}

@keyframes headerAppear {
    from {
        opacity: 0;
        transform: translateY(-4px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.table-row {
    opacity: 0;
    animation: rowAppear 0.7s linear forwards;
}

@keyframes rowAppear {
    from {
        opacity: 0;
        transform: translateY(8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.table-column {
    padding: 15px 0 15px 0;
    min-width: 200px;
    border-top: solid;
    border-color: var(--table-border-color);
    background: var(--table-background-color);
}

.table-value {
    padding-left: 10px;
    padding-right: 10px;
    overflow-wrap: break-word;
}

.table-icon {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    border-top: 2px solid;
    border-color: var(--table-border-color);
}