.table-container {
    padding: 10px;
}

.table-header {
    padding: 15px 0 15px 0;
    font-weight: 700;
    font-size: 13px;
    color: #666;
    border-bottom: 3px solid #CCC;
}

.table-column {
    padding: 15px 0 15px 0;
    min-width: 200px;
    border-top: solid #CCC;
}

.table-value {
    padding-left: 10px;
    padding-right: 10px;
}