.tabs {
    display: flex;
    gap: 4px;
}

.tab {
    padding: 12px 16px;
    color: var(--tab-text);
    text-decoration: none;
}

.tab.active {
    color: var(--active-tab-text);
    border-bottom: 3px solid;
    border-color: var(--active-tab-border);
    font-weight: 700;
}

.tab:hover {
    color: var(--hover-tab-text);
    border-bottom: 1px solid;
    border-color: var(--hover-tab-border);
    background-color: var(--hover-tab-background);
}

.tab.active:hover {
    border-bottom: 3px solid;
}