.disabled-button-content {
    border: none;
    border: 1px solid;
    border-radius: 20px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    color: #04AA6D;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
}

.button-content {
    border: none;
    border: 1px solid;
    border-radius: 20px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    color: #04AA6D;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.button-content:hover {
    border-color: #71a994;
    color: #71a994;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 9px 20px 9px 20px;
}