.list-container {
}

.list-item {
    cursor: pointer;
    text-align: center;
}

.grey-list-item {
    background: rgba(200, 200, 200, 0.2);
}

.selected-list-item {
    background: var(--selected-list-item);
}

.list-item:hover {
    background: var(--hover-list-item);
}