.logo {
    display: inline-block;
    /*background: #FFF;*/
    text-decoration: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    cursor: pointer;
    background: transparent;
    border-width: 0;
}

.logo:hover {

}
